{{ define "main" }}
<a href="{{ .Parent.RelPermalink }}" class="inline-block px-4">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    class="h-8 w-8 fill-none stroke-current"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
    />
  </svg>
</a>

<h1 class="px-4 py-6 text-2xl font-bold">{{ .Title }}</h1>
<img src="{{ .Params.main_image }}" alt="" class="mx-4 my-6 max-w-sm" />
<div class="prose prose-invert px-4 py-6"><p>{{ .Content }}</p></div>
{{ end }}
