{{ define "main" }}
  {{ .Content }}

    <a href="#videos"><button class="btn">Vídeos</button></a>
    <a href="#articles"><button class="btn">Articles</button></a>
    <a href="#designs"><button class="btn">Disseny</button></a>
    <a href="#projects"><button class="btn">Projectes</button></a>

    <br><br>
    <a href="videos"><h1 id="videos">Vídeo</h1></a>
    {{ range where site.RegularPages "Type" "videos" }}
      <div class="card">
        <a href="{{ .RelPermalink }}">
          <div class="card-image">
            <img src="images/macos-sierra.jpg" class="img-responsive">
          </div>
          <div class="card-header">
            <div class="card-title h5">{{ .LinkTitle }}</div>
            <div class="card-subtitle text-gray">{{ .LinkTitle }}</div>
          </div>
          <div class="card-body">
            {{ .Summary }}
          </div>
        </a>
      </div>
      <h2><a href=""></a></h2>
      
    {{ end }}
  
    <a href="articles"><h1 id="articles">Articles</h1></a>
    {{ range where site.RegularPages "Type" "articles" }}
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ .Summary }}
    {{ end }}
  
    <a href="designs"><h1 id="designs">Disseny</h1></a>
    {{ range where site.RegularPages "Type" "designs" }}
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ .Summary }}
    {{ end }}
  
    <a href="projects"><h1 id="projects">Projectes</h1></a>
    {{ range where site.RegularPages "Type" "projects" }}
      <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
      {{ .Summary }}
    {{ end }}
{{ end }}
