{{ define "main" }}
<article class="px-4 pb-14">
  <p class="text-2xl">
    Journalist and dataviz enthusiast from Barcelona. Fact-checking and OSINT
    adept. Code dabbler.
  </p>
  <p class="mt-12 text-2xl">Currently working at Verificat.</p>
</article>
<nav class="px-4">
  <div class="flex justify-between py-14">
    <ul role="list" class="">
      <li>
        <a
          class="my-4 block w-fit rounded-full px-4 py-2 text-2xl outline outline-1 hover:bg-white hover:text-bernats-blue"
          href="#videos"
          >Videos</a
        >
      </li>
      <li>
        <a
          class="my-4 block w-fit rounded-full px-4 py-2 text-2xl outline outline-1 hover:bg-white hover:text-bernats-blue"
          href="#articles"
          >Articles</a
        >
      </li>
      <li>
        <a
          class="my-4 block w-fit rounded-full px-4 py-2 text-2xl outline outline-1 hover:bg-white hover:text-bernats-blue"
          href="#dataviz"
          >Dataviz</a
        >
      </li>
      <li>
        <a
          class="my-4 block w-fit rounded-full px-4 py-2 text-2xl outline outline-1 hover:bg-white hover:text-bernats-blue"
          href="#projects"
          >Projects</a
        >
      </li>
    </ul>
    <ul role="list" class="self-end">
      <li>
        <a
          href="/contact"
          class="group my-4 flex h-20 w-20 items-center justify-center rounded-full border-2 border-white py-2 hover:bg-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            class="h-12 w-12 fill-current stroke-bernats-blue text-white group-hover:stroke-white group-hover:text-bernats-blue"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</nav>

<section id="videos" class="bg-white bg-opacity-10 pb-14">
  {{ with .Site.GetPage "/videos" }}
  <a href="{{ .RelPermalink }}">
    <h3 class="px-4 pb-6 pt-14 text-2xl font-bold">Videos</h3>
    <p class="pl-4 text-2xl opacity-60">
      Scripting and editing for Verificat’s TikTok
    </p>
    <div class="scrollbar-hide mt-10 flex gap-4 overflow-x-auto px-4">
      {{ range .Pages }} {{ $video := .Resources.Get (.Param "video_file") }}
      <video
        src="{{ $video.RelPermalink }}"
        class="w-3/4 max-w-sm shrink-0 grow-0 transform rounded-3xl object-cover"
        autoplay
        muted
      ></video>
      {{ end }}
    </div>
  </a>
  {{ end }}
</section>

<section id="articles" class="px-4">
  {{ $page := .Site.GetPage "/articles" }}
  <a href="{{ $page.RelPermalink }}">
    <div class="mt-4 flex items-center justify-between">
      <h3 class="py-10 text-2xl font-bold">Articles</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="h-8 w-8 fill-none stroke-current stroke-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
        />
      </svg>
    </div>
  </a>
  {{ range (slice "El País" "Verificat") }} {{ $articles := where
  site.RegularPages "Type" "articles" }}
  <h4 class="text-lg font-semibold">{{ . }}</h4>
  <hr class="my-4 h-px border-0 bg-white/20" />

  <div class="align flex flex-grow-0 flex-col gap-6 pb-14">
    {{ range ((where $articles "Params.company" "eq" .).ByParam
    "publication_date").Reverse }}
    <a href="{{ .RelPermalink }}">
      <article class="flex flex-col gap-2">
        <span class="text-base"> {{ .Title }} </span>
        <span class="text-xs opacity-50"
          >{{ time.Format "02/01/2006" (.Param "publication_date") }}</span
        >
      </article>
    </a>
    {{ end }}
  </div>
  {{ end }}
</section>

<section id="dataviz" class="bg-white bg-opacity-10">
  {{ $page := .Site.GetPage "/dataviz" }}
  <a href="{{ $page.RelPermalink }}">
    <div class="mt-4 flex items-center justify-between px-4">
      <h3 class="py-10 text-2xl font-bold">Dataviz</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="h-8 w-8 fill-none stroke-current stroke-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
        />
      </svg>
    </div>
  </a>
  <div class="align flex flex-grow-0 flex-col gap-14">
    {{ with .Site.GetPage "/dataviz/visualitzacio-dades-verificat" }}
    <a href="{{ .RelPermalink }}">
      <article class="flex flex-col gap-10 px-4">
        <div class="text-xl opacity-60">{{ .Title }}</div>
        {{ $image := resources.GetRemote (.Params.thumbnail) }}
        <img
          src="{{ $image.RelPermalink }}"
          alt=""
          class="aspect-square w-screen max-w-sm rounded-lg object-cover"
        />
        {{ end }}
      </article>
    </a>
    {{ with .Site.GetPage "/dataviz/infografies-salut-medi-ambient-verificat" }}
    <a href="{{ .RelPermalink }}">
      <article class="flex flex-col gap-10">
        <span class="px-4 text-xl opacity-60"> {{ .Title }} </span>
        {{ $image := resources.GetRemote (.Params.thumbnail) }}
        <div class="scrollbar-hide flex gap-4 overflow-x-auto px-4 pb-14">
          <img
            src="{{ $image.RelPermalink }}"
            alt=""
            class="w-3/4 max-w-sm shrink-0 grow-0 rounded-lg object-cover"
          />
          <img
            src="{{ $image.RelPermalink }}"
            alt=""
            class="w-3/4 max-w-sm shrink-0 grow-0 rounded-lg object-cover"
          />
          <img
            src="{{ $image.RelPermalink }}"
            alt=""
            class="w-3/4 max-w-sm shrink-0 grow-0 rounded-lg object-cover"
          />
        </div>
        {{ end }}
      </article>
    </a>
  </div>
</section>

<section id="projects" class="px-4">
  {{ $page := .Site.GetPage "/projects" }}
  <a href="{{ $page.RelPermalink }}">
    <div class="mt-4 flex items-center justify-between px-4">
      <h3 class="py-10 text-2xl font-bold">Projects</h3>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="h-8 w-8 fill-none stroke-current stroke-2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"
        />
      </svg>
    </div>
  </a>

  <div class="align flex flex-grow-0 flex-col gap-10">
    {{ $projects := where site.RegularPages "Type" "projects" }} {{ range
    ((where site.RegularPages "Type" "projects").ByParam
    "publication_date").Reverse }}
    <a href="{{ .RelPermalink }}">
      <article class="flex flex-grow-0 flex-col gap-1.5">
        {{ $image := resources.GetRemote (.Params.thumbnail) }}
        <img
          src="{{ $image.RelPermalink }}"
          alt=""
          class="aspect-square w-screen max-w-sm rounded-lg object-cover"
        />
        <span class="mt-6 text-xl font-bold"> {{ .Title }} </span>
        <span class="text-base"> {{ .Params.subtitle }} </span>
        <span class="text text-sm opacity-50"
          >{{ time.Format "January 2006" (.Param "publication_date") }}</span
        >
      </article>
    </a>
    {{ end }}
  </div>
</section>
{{ .Content }} {{ end }}
