{{ define "main" }}

<a href="/" class="inline-block px-4">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    class="h-8 w-8 fill-none stroke-current"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
    />
  </svg>
</a>

<h1 class="px-4 py-6 text-2xl font-bold">{{ .Title }}</h1>
<div class="px-4 py-6"><p>{{ .Content }}</p></div>
<div class="flex flex-wrap gap-4 px-4">
  {{ range .Pages }} {{ $video := .Resources.Get (.Param "video_file") }}
  <a href="{{ .RelPermalink }}">
    <video
      src="{{ $video.RelPermalink }}"
      class="aspect-square w-screen max-w-sm shrink-0 grow-0 rounded-3xl object-cover"
      autoplay
      muted
    ></video>
  </a>
  {{ end }}
</div>
{{ end }}
